<title>Events</title>

{% extends 'box/base.html' %}
{% load static custom_filters %}

{% block title %}Upcoming Boxing Events{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'box/css/events_list.css' %}">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2 style="margin-top: 70px;">Upcoming Boxing Events</h2>
        
        {% if user|has_group:"organiser" %}
            <div class="event-buttons" style="margin-top: 55px;display: inline-block; padding: 10px;">
                <a href="{% url 'box:manage_events' %}" style="color: black;">Manage Events</a>
            </div>
        {% endif %}
    </div>

    {% if events %}
        <ul class="event-fights-list">
            {% for event in events %}
                <li class="event-fight-item">
                    <h3>{{ event.title }} - {{ event.date }} - {{ event.location }}</h3>
                    <a href="{% url 'box:event_detail' event_id=event.id %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming events at the moment.</p>
    {% endif %}
{% endblock %}