<title>Manage Events</title>
{% extends 'box/base.html' %}

{% block content %}
  <h2 style="margin-top: 70px;">Manage Events</h2>

  <a style="margin-top: 50px;" href="{% url 'box:create_event' %}">Create Event</a>

  <ul>
    {% for event in events %}
      <li>
        {{ event.title }} - {{ event.date }} - {{ event.location }}
        <a href="{% url 'box:edit_event' event_id=event.id %}">Edit</a>
        <!-- Add a delete button here if needed -->
      </li>
    {% endfor %}
  </ul>
{% endblock %}