{% load static %}

    <!-- Your home page content here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'box/css/home.css' %}">
</head>
<body>

    <header>
        <h1>Boxing Promotions</h1>
        <div class="nav-buttons">
            <a href="{% url 'account_signup' %}">Sign Up</a>
            <a href="{% url 'account_login' %}">Log In</a>
        </div>
    </header>

    <main>
        <section>
            <h2>Welcome to Boxing Promotions</h2>
            <!-- Include your homepage content here -->
            <p>At Boxing Promotions, we're passionate about the sport of boxing and providing a platform for enthusiasts, amateurs, and professionals alike to connect, compete, and celebrate their love for the sweet science.</p>
            <p>Whether you're a seasoned fighter looking for your next challenge, a beginner eager to learn and improve, or simply a fan cheering from the sidelines, our website offers something for everyone.</p>
            <p>Explore our diverse range of features and offerings:</p>
            <p>1. Events and Tournaments: Stay updated on upcoming boxing events and tournaments in your area. From local competitions to international championships, we've got you covered.</p>
            <p>2. User Profiles: Create your personalised profile to showcase your boxing journey.</p>
            <p>3. Matchmaking: Find opponents suited to your skill level and preferences. Our matchmaking algorithm ensures fair and exciting matchups for all participants.</p>
            <p>Join us at Boxing Promotions and become part of a dynamic community dedicated to the art and discipline of boxing. Whether you're stepping into the ring or cheering from the sidelines, there's no better place to share your passion for boxing than right here.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Boxing Promotions. All rights reserved.</p>
    </footer>

</body>
</html>