<title>Profile</title>
{% extends 'box/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'box/css/profile.css' %}">
    
    <div class="profile-container">
        <h2>User Profile</h2>

        <!-- Section for displaying details -->
        <div class="profile-details">
            {% if user.first_name or user.last_name %}
                <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            {% endif %}
            {% if user_profile.age %}
                <p><strong>Age:</strong> {{ user_profile.age }}</p>
            {% endif %}
            {% if user_profile.nickname %}
                <p><strong>Nickname:</strong> {{ user_profile.nickname }}</p>
            {% endif %}
            {% if user_profile.weight %}
                <p><strong>Weight:</strong> {{ user_profile.weight }}kg</p>
            {% endif %}
            {% if user_profile.boxer_type %}
                <p><strong>Boxer Type:</strong> {{ user_profile.get_boxer_type_display }}</p>
            {% endif %}
            {% if user_profile.gender %}
                <p><strong>Gender:</strong> {{ user_profile.get_gender_display }}</p>
            {% endif %}
            {% if user_profile.wins is not None or user_profile.losses is not None or user_profile.draws is not None %}
                <p><strong>Record:</strong> {{ user_profile.wins|default:0 }}-{{ user_profile.losses|default:0 }}-{{ user_profile.draws|default:0 }}</p>
            {% endif %}
            {% if user_profile.profile_picture %}
                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
            {% endif %}
        </div>

        <!-- Section for the form -->
        <div class="profile-form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit">Update Profile</button>
            </form>
        </div>
    </div>
{% endblock %}
