.create-event-container {
  max-width: 600px;
  margin: 70px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-event-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.event-form {
  margin-bottom: 20px;
}

.event-form p {
  margin-bottom: 10px;
}

.create-event-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-event-button:hover {
  background-color: #0056b3;
}