.events-management-container {
    max-width: 800px;
    margin: 70px auto;
    padding: 0 20px;
}



/* Styles for the events list */
.events-list {
    list-style: none;
    padding: 0;
}

/* Styles for each event item */
.event-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for event details */
.event-details {
    flex: 1;
}

.event-title {
    font-size: 18px;
    font-weight: bold;
}

.event-date, .event-location {
    font-size: 14px;
}

/* Styles for event actions */
.event-actions {
    margin-left: 10px;
}

.edit-event-button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.edit-event-button:hover {
    background-color: #0056b3;
}