body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-top: 70px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Styling for "Searching for an Opponent" section */
#searching-section {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Styling for "Matched an Opponent" section */
#matched-section {
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Styling for "Event Completed" section */
#completed-section {
    margin-bottom: 20px;
    padding-bottom: 10px;
}